<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="caios.android.kpixiv">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".activity.AuthActivity"
            android:exported="false" />
    </application>

</manifest>